*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
img{
    height: 80%;
    width: 80%;

}
img:hover{
    transform: scale(1.1);
    cursor: pointer;
    filter: drop-shadow(2px 1px 35px rgb(73, 73, 120)) ;
}
.p{
    
    margin: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    position: relative;
    border-radius: 2.5rem;
    

    
}
.p:nth-child(odd)
{
    background: linear-gradient(rgb(132, 204, 237),rgb(139, 235, 230),rgb(229, 229, 134),rgb(244, 142, 159));

}
.p:nth-child(even)
{
    background: linear-gradient(to top, rgb(112, 129, 208),rgb(157, 212, 117),rgb(210, 208, 111));

}
h1{
    color: aliceblue;
}
.hover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    
    border-radius: 0.5rem;
    
    opacity: 0;
    
}
.p:hover .hover
{
    opacity: 1;
}

